#afi{
	background: @blue;
	background-image: url(../images/texture-blue.jpg);
	color: @white;

	h3{
		border-bottom-color: @white;
		.box-shadow(0 1px 0 0 @white);
	}

	h4{
		padding-left: 1em;
	}
}

.afi-quote{
	margin-bottom: 1em;

	p{
		font-weight: 700;
	}
}

.main-afi-image{
	display: none;
}

.alumni{
	margin: 2em 0 0;
	text-align: center;
}

.alumni-list{
	display: inline-block;
	color: @black;
	padding: 1em 0 0 1em;

	li{
		padding: 2em 0;
		border-top: 1px solid @white;
		text-align: center;
		.box-sizing;
	}

	img{
		width: 70%;
		margin-bottom: 0.5em;
	}

	h5{
		font-weight: 300;
		text-transform: uppercase;

		span{
			color: @white;
			font-weight: 900;
		}
	}
}

.class-of, .films{
	display: block;
}

.class-of{
	margin-bottom: 0.5em;
}

@media screen and (min-width: 50em) {

	#afi{

		.main-afi-image{
			display: block;
			float: right;
			margin: 0 0 0.5em 2.5%;
		}
	}
	.alumni-list li{
		float: left;
		width: 50%;
	}

}

@media screen and (min-width: 62.5em) {

	.alumni-list li{
		width: 33.333333%;
	}

}
