.wrapper {
  width: 1200px;
}
#afi .main-afi-image {
  display: block;
  float: right;
  margin: 0 0 0.5em 2.5%;
}
.alumni-list li {
  width: 33.333333%;
}
.filmmakers-list img {
  margin-right: 2.5%;
  width: 48.75%;
}
.filmmakers-list .bio-text {
  width: 48.75%;
  margin: 0;
}
