html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  text-rendering: optimizeLegibility;
  color: #3b3c40;
  font-family: "museo-sans-condensed-1", "museo-sans-condensed-2", helvetica, sans-serif;
  background: #f2efe4;
  -webkit-backface-visibility: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/*-------------------------------------------------------------------------
CLEARFIX
-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
BOX-SIZING
-------------------------------------------------------------------------*/
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*-------------------------------------------------------------------------
TRANSITION
-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
BOX-SHADOW
-------------------------------------------------------------------------*/
/*------------------------------
COLORS
------------------------------*/
/*------------------------------
TYPOGRAPHY
------------------------------*/
h3 {
  padding-bottom: 0.1em;
  margin-bottom: 0.4em;
  font-size: 3em;
  font-weight: 700;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 4px double #f2efe4;
  -moz-box-shadow: 0 1px 0 0 #f2efe4, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  -webkit-box-shadow: 0 1px 0 0 #f2efe4, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  box-shadow: 0 1px 0 0 #f2efe4, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
}
h4 {
  margin-bottom: 0.25em;
  font-size: 1.4em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h5 {
  margin-bottom: 0.5em;
}
p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 1em;
}
p:last-child {
  margin-bottom: 0;
}
/*-------------------------------------------------------------------------
FORM ELEMENTS
-------------------------------------------------------------------------*/
.button {
  padding: 0 1em;
  height: 2.5em;
  line-height: 1.75;
  border: 1px solid #f2efe4;
  border-radius: 1px;
  font-weight: 500;
  color: #f2efe4;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-backface-visibility: hidden;
}
.button:hover {
  border-color: #3b3c40;
  color: #3b3c40;
}
/*-------------------------------------------------------------------------
GENERAL LAYOUT
-------------------------------------------------------------------------*/
.wrapper {
  width: 60%;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}
section {
  padding: 4em 0;
}
.page-inner p {
  text-align: justify;
}
.page-inner a {
  font-weight: 500;
  text-decoration: underline;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.page-inner a:hover {
  color: #778ba6;
}
.page-inner ul {
  margin-bottom: 1em;
}
.page-inner .button {
  border-color: #778ba6;
  color: #778ba6;
  text-decoration: none;
}
/*-------------------------------------------------------------------------
HOME
-------------------------------------------------------------------------*/
#home {
  background: url(../images/main-bg.jpg) no-repeat bottom;
}
.main header {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -40%;
  width: 80%;
  text-align: center;
  color: #f2efe4;
}
h1 {
  font-family: "museo-sans-condensed-1", "museo-sans-condensed-2", helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.4em;
  font-size: 8em;
  margin-left: 0.4em;
  /*To correct for letter spacing centering issue*/

}
h2 {
  margin-bottom: 0.5em;
  font-family: "museo-sans-condensed-1", "museo-sans-condensed-2", helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0.4em;
  margin-left: 0.4em;
  /*To correct for letter spacing centering issue*/

  text-transform: uppercase;
}
/*-------------------------------------------------------------------------
NAV
-------------------------------------------------------------------------*/
#home .main-nav {
  top: -3em;
}
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 3em;
  line-height: 3;
  text-align: center;
  font-family: "museo-sans-condensed-1", "museo-sans-condensed-2", helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 10000;
}
.main-nav ul {
  clear: left;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}
.main-nav li {
  display: block;
  float: left;
  position: relative;
  margin: 0 0.25em;
  right: 50%;
}
.main-nav a {
  display: block;
  text-indent: 2px;
}
.main-nav .donate-button {
  margin-top: 0.2em;
  line-height: 2.4;
}
.nav-scrolled {
  background: #f2efe4;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
}
.nav-scrolled .donate-button {
  border-color: #3b3c40;
  color: #3b3c40;
}
.nav-scrolled .donate-button:hover {
  border-color: #778ba6;
  color: #778ba6;
}
.nav-scrolled .button-slide-in div:hover {
  color: #f2efe4;
}
.nav-scrolled .button-slide-in div:nth-child(2) {
  background-color: #778ba6;
}
.button-slide-in {
  position: relative;
  height: 3em;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  overflow: hidden;
}
.button-slide-in div {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 3em;
  padding: 0 0.75em;
  line-height: 3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
}
.button-slide-in div:nth-child(1) {
  position: relative;
}
.button-slide-in div:nth-child(2) {
  background-color: #f2efe4;
  transition: top 0.15s ease;
  -webkit-transition: top 0.15s ease;
  -moz-transition: top 0.15s ease;
  top: -3.2em;
  z-index: -1;
}
.button-slide-in div:nth-child(3) {
  transition: opacity 0.15s ease;
  -webkit-transition: opacity 0.15s ease;
  -moz-transition: opacity 0.15s ease;
  opacity: 0;
  position: relative;
  display: inline-block;
}
.button-slide-in:hover div:nth-child(2) {
  top: 0px;
  transition: top 0.15s ease;
  -webkit-transition: top 0.15s ease;
  -moz-transition: top 0.15s ease;
}
.button-slide-in:hover div:nth-child(3) {
  opacity: 1;
  transition: opacity 0.15s ease;
  -webkit-transition: opacity 0.15s ease;
  -moz-transition: opacity 0.15s ease;
}
/*-------------------------------------------------------------------------
MINIMAL CONTENT SECTIONS
-------------------------------------------------------------------------*/
#story h3 {
  border: none;
  -moz-box-shadow: 0, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  -webkit-box-shadow: 0, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  box-shadow: 0, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  padding: 0;
  margin-bottom: 0.1em;
}
#story .page-inner {
  padding: 2.5em 0 2.6em;
  border-top: 4px double #3b3c40;
  border-bottom: 4px double #3b3c40;
  -moz-box-shadow: 0 1px 0 0 #3b3c40, 0 -1px 0 0 #3b3c40, transparent 0 0 0 0, transparent 0 0 0;
  -webkit-box-shadow: 0 1px 0 0 #3b3c40, 0 -1px 0 0 #3b3c40, transparent 0 0 0 0, transparent 0 0 0;
  box-shadow: 0 1px 0 0 #3b3c40, 0 -1px 0 0 #3b3c40, transparent 0 0 0 0, transparent 0 0 0;
}
#story p,
#story h3 {
  text-align: center;
}
#cast {
  background: #69788c;
  color: #f2efe4;
}
/*-------------------------------------------------------------------------
DONATE
-------------------------------------------------------------------------*/
#donate h3 {
  border-bottom-color: #3b3c40;
  -moz-box-shadow: 0 1px 0 0 #3b3c40, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  -webkit-box-shadow: 0 1px 0 0 #3b3c40, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  box-shadow: 0 1px 0 0 #3b3c40, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
}
#donate .page-inner .button {
  font-size: 2em;
}
#filmmakers {
  background: #778ba6;
  color: #f2efe4;
}
#filmmakers h3 {
  margin-bottom: 0;
}
#filmmakers h4 {
  font-weight: 300;
}
#filmmakers p {
  line-height: 1.2;
}
.filmmakers-list {
  *zoom: 1;
}
.filmmakers-list:before,
.filmmakers-list:after {
  content: "";
  display: table;
}
.filmmakers-list:after {
  clear: both;
}
.filmmakers-list li {
  display: inline-block;
  padding: 1.5em 0;
  border-bottom: 1px solid #f2efe4;
}
.filmmakers-list li:last-child {
  border: none;
  padding-bottom: 0;
}
.filmmakers-list img,
.filmmakers-list .bio-text {
  float: left;
}
.filmmakers-list img {
  width: 100%;
  border-radius: 1px;
}
.filmmakers-list .bio-text {
  width: 100%;
  margin-top: 1.5em;
  font-size: 0.9em;
}
.filmmakers-list span {
  color: #3b3c40;
  font-weight: 900;
}
.filmmakers-list a:hover {
  color: #f2efe4;
}
@media screen and (min-width: 62.5em) {
  /*1000px*/
  .filmmakers-list img {
    margin-right: 2.5%;
    width: 48.75%;
  }
  .filmmakers-list .bio-text {
    width: 48.75%;
    margin: 0;
  }
}
#afi {
  background: #778ba6;
  color: #f2efe4;
}
#afi h3 {
  border-bottom-color: #f2efe4;
  -moz-box-shadow: 0 1px 0 0 #f2efe4, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  -webkit-box-shadow: 0 1px 0 0 #f2efe4, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  box-shadow: 0 1px 0 0 #f2efe4, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
}
.main-afi-image {
  float: right;
  margin: 2.5% 0 1% 2.5%;
}
.alumni {
  margin: 2em 0;
  text-align: center;
}
.alumni-list {
  display: inline-block;
  color: #3b3c40;
  padding: 1em 0 0 1em;
}
.alumni-list li {
  padding: 2em 1em 2em 0;
  border-top: 1px solid #f2efe4;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.alumni-list img {
  width: 100%;
  margin-bottom: 0.5em;
}
.alumni-list h5 {
  font-weight: 300;
  text-transform: uppercase;
}
.alumni-list h5 span {
  color: #f2efe4;
  font-weight: 900;
}
.class-of,
.films {
  display: block;
}
.class-of {
  margin-bottom: 0.5em;
}
@media screen and (min-width: 50em) {
  /*800px*/
  .alumni-list li {
    float: left;
    width: 50%;
  }
}
@media screen and (min-width: 62.5em) {
  /*1000px*/
  .alumni-list li {
    width: 33.333333%;
  }
}
@media screen and (min-width: 37.5em) {
  /*600px*/
  body {
    font-size: 90%;
  }
}
@media screen and (min-width: 50em) {
  /*800px*/
  body {
    font-size: 100%;
  }
}
@media screen and (min-width: 62.5em) {
  /*1000px*/
  body {
    font-size: 110%;
  }
}
