html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  text-rendering: optimizeLegibility;
  color: #3b3c40;
  font-family: "museo-sans-condensed-1", "museo-sans-condensed-2", helvetica, sans-serif;
  background: #f2efe4;
  -webkit-backface-visibility: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/*-------------------------------------------------------------------------
CLEARFIX
-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
BOX-SIZING
-------------------------------------------------------------------------*/
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*-------------------------------------------------------------------------
TRANSITION
-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
BOX-SHADOW
-------------------------------------------------------------------------*/
/*------------------------------
COLORS
------------------------------*/
/*------------------------------
WEBFONTS
------------------------------*/
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot');
  src: url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.woff') format('woff'), url('../fonts/icomoon/icomoon.ttf') format('truetype'), url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------------
TYPOGRAPHY
------------------------------*/
h3 {
  padding-bottom: 0.1em;
  margin-bottom: 0.4em;
  font-size: 2em;
  font-weight: 700;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 4px double #f2efe4;
  -moz-box-shadow: 0 1px 0 0 #f2efe4, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  -webkit-box-shadow: 0 1px 0 0 #f2efe4, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  box-shadow: 0 1px 0 0 #f2efe4, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
}
h4 {
  margin-bottom: 0.25em;
  font-size: 1.4em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h5 {
  margin-bottom: 0.5em;
}
p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 1em;
}
p:last-child {
  margin-bottom: 0;
}
/*-------------------------------------------------------------------------
FORM ELEMENTS
-------------------------------------------------------------------------*/
.button {
  padding: 0 1em;
  height: 2.5em;
  line-height: 1.75;
  background: #778ba6;
  border: 1px solid #778ba6;
  border-radius: 1px;
  font-weight: 500;
  color: #f2efe4;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-backface-visibility: hidden;
}
.button:hover {
  background: none;
  color: #778ba6;
}
/*-------------------------------------------------------------------------
GENERAL LAYOUT
-------------------------------------------------------------------------*/
.wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
section {
  position: relative;
  width: 100%;
  padding: 4em 0;
  margin-bottom: 8em;
  -moz-box-shadow: 5px -5px 50px 0px rgba(0, 0, 0, 0.9), 5px 5px 50px 0px rgba(0, 0, 0, 0.9), transparent 0 0 0 0, transparent 0 0 0;
  -webkit-box-shadow: 5px -5px 50px 0px rgba(0, 0, 0, 0.9), 5px 5px 50px 0px rgba(0, 0, 0, 0.9), transparent 0 0 0 0, transparent 0 0 0;
  box-shadow: 5px -5px 50px 0px rgba(0, 0, 0, 0.9), 5px 5px 50px 0px rgba(0, 0, 0, 0.9), transparent 0 0 0 0, transparent 0 0 0;
}
.page-inner a {
  font-weight: 500;
  text-decoration: underline;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.page-inner a:hover {
  color: #778ba6;
}
.page-inner .button {
  text-decoration: none;
}
.page-inner ul {
  margin-bottom: 1em;
}
.cracks {
  background: url(../images/separator-cracks.jpg);
}
.sky {
  background: url(../images/separator-sky.jpg);
}
.water {
  background: url(../images/separator-water.jpg);
}
.separator-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 8em;
  z-index: -5;
  background-attachment: fixed;
}
/*-------------------------------------------------------------------------
HOME
-------------------------------------------------------------------------*/
#home {
  position: relative;
  margin-bottom: 8em;
  background: url(../images/main-bg.jpg) bottom;
  background-size: cover;
  -moz-box-shadow: 5px 5px 50px 0px rgba(59, 60, 64, 0.9), transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  -webkit-box-shadow: 5px 5px 50px 0px rgba(59, 60, 64, 0.9), transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  box-shadow: 5px 5px 50px 0px rgba(59, 60, 64, 0.9), transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
}
.main header {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -40%;
  width: 80%;
  text-align: center;
  color: #f2efe4;
}
h1 {
  font-family: "museo-sans-condensed-1", "museo-sans-condensed-2", helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.4em;
  font-size: 2em;
  margin-left: 0.4em;
  /*To correct for letter spacing centering issue*/

}
h2 {
  margin-bottom: 0.5em;
  font-size: 0.5em;
  font-family: "museo-sans-condensed-1", "museo-sans-condensed-2", helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0.4em;
  margin-left: 0.4em;
  /*To correct for letter spacing centering issue*/

  text-transform: uppercase;
}
/*-------------------------------------------------------------------------
NAV
-------------------------------------------------------------------------*/
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  background: #f2efe4;
  width: 100%;
  height: 6em;
  line-height: 3;
  text-align: center;
  font-family: "museo-sans-condensed-1", "museo-sans-condensed-2", helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 10000;
}
.main-nav .wrapper {
  width: 100%;
}
.main-nav ul {
  clear: left;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}
.main-nav li {
  display: inline-block;
  position: relative;
  margin: 0 0.25em;
  right: 50%;
}
.main-nav a {
  display: block;
  text-indent: 2px;
}
.main-nav .reveal-slide {
  display: none;
}
.main-nav .donate-button {
  position: relative;
  line-height: 2.4;
}
.main-nav .donate-button:hover {
  color: #f2efe4;
  border-color: #f2efe4;
}
.mobile-nav-icon {
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  left: -46px;
  background: #f2efe4;
  background: rgba(242, 239, 228, 0.9);
  line-height: 2.7;
  font-size: 1.4em;
  text-align: center;
}
.mobile-nav-icon:before {
  font-family: 'icomoon';
  content: 'm';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.mobile-nav-icon-active:before {
  content: 'r';
}
.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: -105px;
  z-index: 10000;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.mobile-nav li {
  margin-bottom: 1px;
  text-align: right;
  font-size: 1.4em;
  background: #f2efe4;
  background: rgba(242, 239, 228, 0.9);
  width: 90px;
  padding-right: 0.8em;
  height: 2.5em;
  line-height: 2.5em;
}
.mobile-nav-active {
  right: 0;
}
/*-------------------------------------------------------------------------
MINIMAL CONTENT SECTIONS
-------------------------------------------------------------------------*/
#story {
  background: url(../images/story/story-bg.jpg) bottom no-repeat;
  background-size: cover;
}
#story h3 {
  border: none;
  -moz-box-shadow: 0 0 0 transparent, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  -webkit-box-shadow: 0 0 0 transparent, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  box-shadow: 0 0 0 transparent, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  padding: 0;
  margin-bottom: 0.1em;
}
#story .page-inner {
  padding: 2.5em 0 2.6em;
  border-top: 4px double #3b3c40;
  border-bottom: 4px double #3b3c40;
  -moz-box-shadow: 0 1px 0 0 #3b3c40, 0 -1px 0 0 #3b3c40, transparent 0 0 0 0, transparent 0 0 0;
  -webkit-box-shadow: 0 1px 0 0 #3b3c40, 0 -1px 0 0 #3b3c40, transparent 0 0 0 0, transparent 0 0 0;
  box-shadow: 0 1px 0 0 #3b3c40, 0 -1px 0 0 #3b3c40, transparent 0 0 0 0, transparent 0 0 0;
}
#story p,
#story h3,
#story h4,
#story ul {
  text-align: center;
}
#story p {
  padding: 0 10%;
}
#cast {
  padding: 10em 0;
  text-align: center;
  color: #f2efe4;
  background: url(../images/cast/cast-bg-darker.jpg) bottom no-repeat;
}
#cast h3 {
  border-bottom: 4px double #f2efe4;
  -moz-box-shadow: 0 1px 0 0 #f2efe4, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  -webkit-box-shadow: 0 1px 0 0 #f2efe4, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  box-shadow: 0 1px 0 0 #f2efe4, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
}
#cast p {
  font-size: 1.4em;
  text-align: center;
}
#trailer {
  padding: 6em 0 36em;
  background: #69788c;
  color: #f2efe4;
  text-align: center;
  background: url(../images/trailer/trailer-bg.jpg) top no-repeat;
  background-size: cover;
}
#trailer p {
  font-size: 1.4em;
  text-align: center;
}
.story-inner {
  padding-bottom: 3em;
  margin-bottom: 3em;
  border-bottom: 1px solid #3b3c40;
}
/*-------------------------------------------------------------------------
DONATE
-------------------------------------------------------------------------*/
#donate {
  margin-bottom: 0;
  -moz-box-shadow: 0 0 0 transparent, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  -webkit-box-shadow: 0 0 0 transparent, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  box-shadow: 0 0 0 transparent, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  background: #f2efe4;
  background: url(../images/texture-tan.jpg);
  border-bottom: 1px solid #3b3c40;
}
#donate h3 {
  border-bottom-color: #3b3c40;
  -moz-box-shadow: 0 1px 0 0 #3b3c40, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  -webkit-box-shadow: 0 1px 0 0 #3b3c40, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  box-shadow: 0 1px 0 0 #3b3c40, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
}
#donate .button {
  display: inline-block;
  font-size: 1.2em;
  padding: 0.5em 0;
  margin: 1em 0 1.5em;
  width: 100%;
  line-height: 1.45;
}
#donate .team-photo-wrapper {
  text-align: center;
  padding: 0 15% 1em;
}
#donate .team-photo-wrapper img {
  width: 100%;
  border-radius: 1px;
}
/*-------------------------------------------------------------------------
CONTACT / FOOTER
-------------------------------------------------------------------------*/
#contact {
  padding-top: 1em;
  display: inline-block;
  width: 100%;
  background: #778ba6;
  color: #f2efe4;
}
#contact h4 {
  font-size: 1em;
}
#contact a {
  text-decoration: none;
  color: inherit;
}
#contact .footer-logo,
#contact .footer-contact,
#contact .footer-address,
#contact .footer-buttons {
  width: 100%;
  text-align: center;
}
#contact .footer-logo {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.4em;
  line-height: 4;
  text-transform: uppercase;
  text-decoration: none;
}
#contact ul {
  font-size: 0.8em;
  line-height: 1.3;
  margin-bottom: 1.5em;
}
#contact .footer-buttons {
  padding: 0;
}
#contact .footer-buttons .button {
  display: inline-block;
  width: 80%;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  line-height: 2.35;
  border: 1px solid #f2efe4;
}
#contact .footer-buttons .button:hover {
  background: #f2efe4;
  color: #778ba6;
}
.footer-admin {
  border-top: 1px solid #f2efe4;
  padding: 1em 0;
  margin-top: 1em;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.footer-admin span {
  font-size: 0.8em;
}
#filmmakers {
  background: #778ba6;
  background-image: url(../images/texture-blue.jpg);
  color: #f2efe4;
}
#filmmakers h3 {
  margin-bottom: 0;
}
#filmmakers h4 {
  font-weight: 300;
}
#filmmakers p {
  line-height: 1.2;
}
.filmmakers-list {
  *zoom: 1;
}
.filmmakers-list:before,
.filmmakers-list:after {
  content: "";
  display: table;
}
.filmmakers-list:after {
  clear: both;
}
.filmmakers-list li {
  display: inline-block;
  padding: 1.5em 0;
  border-bottom: 1px solid #f2efe4;
}
.filmmakers-list li:last-child {
  border: none;
  padding-bottom: 0;
}
.filmmakers-list img,
.filmmakers-list .bio-text {
  float: left;
}
.filmmakers-list img {
  width: 100%;
  border-radius: 1px;
}
.filmmakers-list .bio-text {
  width: 100%;
  margin-top: 1.5em;
  font-size: 0.9em;
}
.filmmakers-list span {
  color: #3b3c40;
  font-weight: 900;
}
.filmmakers-list a:hover {
  color: #f2efe4;
}
@media screen and (min-width: 62.5em) {
  /*1000px*/
  .filmmakers-list img {
    margin-right: 2.5%;
    width: 48.75%;
  }
  .filmmakers-list .bio-text {
    width: 48.75%;
    margin: 0;
  }
}
#afi {
  background: #778ba6;
  background-image: url(../images/texture-blue.jpg);
  color: #f2efe4;
}
#afi h3 {
  border-bottom-color: #f2efe4;
  -moz-box-shadow: 0 1px 0 0 #f2efe4, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  -webkit-box-shadow: 0 1px 0 0 #f2efe4, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  box-shadow: 0 1px 0 0 #f2efe4, transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
}
#afi h4 {
  padding-left: 1em;
}
.afi-quote {
  margin-bottom: 1em;
}
.afi-quote p {
  font-weight: 700;
}
.main-afi-image {
  display: none;
}
.alumni {
  margin: 2em 0 0;
  text-align: center;
}
.alumni-list {
  display: inline-block;
  color: #3b3c40;
  padding: 1em 0 0 1em;
}
.alumni-list li {
  padding: 2em 0;
  border-top: 1px solid #f2efe4;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.alumni-list img {
  width: 70%;
  margin-bottom: 0.5em;
}
.alumni-list h5 {
  font-weight: 300;
  text-transform: uppercase;
}
.alumni-list h5 span {
  color: #f2efe4;
  font-weight: 900;
}
.class-of,
.films {
  display: block;
}
.class-of {
  margin-bottom: 0.5em;
}
@media screen and (min-width: 50em) {
  #afi .main-afi-image {
    display: block;
    float: right;
    margin: 0 0 0.5em 2.5%;
  }
  .alumni-list li {
    float: left;
    width: 50%;
  }
}
@media screen and (min-width: 62.5em) {
  .alumni-list li {
    width: 33.333333%;
  }
}
@media screen and (min-width: 25em) {
  /*400px*/
  body {
    font-size: 80%;
  }
  #home {
    min-height: 600px;
  }
  .main-nav {
    top: -7em;
    height: 6.5em;
    line-height: inherit;
    background: #f2efe4;
    background: rgba(255, 255, 255, 0.3);
  }
  .nav-scrolled {
    background: #f2efe4;
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), transparent 0 0 0 0, transparent 0 0 0 0, transparent 0 0 0;
  }
  .nav-scrolled .button-slide-in div:hover {
    color: #f2efe4;
  }
  .nav-scrolled .button-slide-in div:nth-child(2) {
    background-color: #778ba6;
  }
  .nav-scrolled .reveal-slide {
    display: inline-block;
  }
  .nav-scrolled .donate-button {
    top: -1.1em;
  }
  .nav-scrolled .donate-button:hover {
    color: #778ba6;
    border-color: #778ba6;
  }
  .button-slide-in {
    position: relative;
    height: 3em;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    overflow: hidden;
  }
  .button-slide-in div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 3em;
    padding: 0 0.75em;
    line-height: 3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
  }
  .button-slide-in div:nth-child(1) {
    position: relative;
  }
  .button-slide-in div:nth-child(2) {
    background-color: #f2efe4;
    transition: top 0.15s ease;
    -webkit-transition: top 0.15s ease;
    -moz-transition: top 0.15s ease;
    top: -3.2em;
    z-index: -1;
  }
  .button-slide-in div:nth-child(3) {
    transition: opacity 0.15s ease;
    -webkit-transition: opacity 0.15s ease;
    -moz-transition: opacity 0.15s ease;
    opacity: 0;
    position: relative;
    display: inline-block;
  }
  .button-slide-in:hover div:nth-child(2) {
    top: 0px;
    transition: top 0.15s ease;
    -webkit-transition: top 0.15s ease;
    -moz-transition: top 0.15s ease;
  }
  .button-slide-in:hover div:nth-child(3) {
    opacity: 1;
    transition: opacity 0.15s ease;
    -webkit-transition: opacity 0.15s ease;
    -moz-transition: opacity 0.15s ease;
  }
  .main header {
    top: 40%;
  }
  .separator-bg {
    position: absolute;
  }
  #donate .button {
    font-size: 1.2em;
  }
  #contact ul {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 35em) {
  /*560px*/
  body {
    font-size: 90%;
  }
  .wrapper {
    width: 90%;
  }
  h3 {
    font-size: 3em;
  }
  .main-nav {
    height: 3.25em;
  }
  .main-nav .donate-button {
    top: -1.1em;
    margin: 0.25em 0 0 1.2em;
  }
  #contact .footer-logo,
  #contact .footer-contact,
  #contact .footer-address,
  #contact .footer-buttons {
    float: left;
    width: 25%;
    padding-right: 5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
  }
  #contact .footer-buttons ul {
    text-align: right;
  }
}
@media screen and (min-width: 43.75em) {
  /*700px*/
  .main-nav {
    height: 3em;
    font-size: 0.9em;
  }
  .main-nav li {
    display: block;
    float: left;
  }
  .main-nav .donate-button {
    top: 0;
  }
}
@media screen and (min-width: 50em) {
  /*800px*/
  body {
    font-size: 100%;
  }
}
@media screen and (min-width: 62.5em) {
  /*1000px*/
  body {
    font-size: 110%;
  }
}
